{{#with footer }}
  <footer>
    <hr>
    <br>
    <div>
    {{#with social}}
    {{> link text = email.text href=email.href blank=true }}
    {{> link text = phone.text href= phone.href blank=true }}
    {{> link text = linkendin.text href= linkendin.href blank=true }}
    {{/with}}
    </div>
    <br>
    <div>
      <em>Copyright by {{../header/name/firstname}} {{../header/name/lastname}} </em>
      <div>
        <br><em><address>{{../header/address}}</address></em>
      </div>
    </div>
  </footer>
  {{/with}}